# IDE
.vscode
# nodejs
node_modules
package-lock.json
# reop don't upload folder or file
# stable diffusion
config
bin
temp
# build app
dist
release_temp
Better-Stable-Diffusion.exe
# stable diffusion dev
better-stable-diffusion
# stable diffusion else
skill.md